input:hover {color:#E0FFFF; background:#F4A460;transition:1s;} /*カーソルが乗っているリンクの色*/
.btn {width:50px;height:60px;}/*ボタンのサイズ*/
table {
border: 1px solid #ccc;
border-collapse: separate;
border-radius: 5px;
border-spacing: 0;
}
